.formTodo {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #fff;
  background-color: rgba(104, 107, 104, 0.5);

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;

  .formTodo__title {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;

    color: rgb(48, 48, 48);

    margin-top: 5px;
    margin-bottom: 10px;
  }
  &__form {
    width: 300px;
    background: white;
    padding: 10px;
    margin-top: 15px;
    border-radius: 6px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    .form-group {
      display: flex;
      flex-direction: column;

      margin-bottom: 15px;
      &__title {
        margin-bottom: 4px;
        color: rgb(83, 82, 82);
      }
      &__value {
        border-radius: 5px;
        border: 0px;
        padding: 5px;
        background: rgb(228, 224, 224);
        border: none;
        outline: none;
        color: black;
      }
    }
    .btn-group {
      display: flex;
      justify-content: space-around;
      .btn {
        min-width: 90px;

        color: rgb(255, 255, 255);

        padding: 5px;
        border-radius: 10px;
        border: 0;

        &:nth-child(1) {
          background-color: #007bff;
        }
        &:nth-child(2) {
          background-color: #6d757d;
        }
      }
    }
  }
}
