.container-filter {
  display: flex;
  justify-content: flex-end;

  margin-top: 10px;

  .filter {
    color: black;

    padding: 5px;
    border-radius: 10px;

    border: none;
    outline: none;
  }
  .search {
    color: black;

    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    margin-right: 10px;

    border: none;
    outline: none;

    width: 200px;
  }
}
