.NumberPageContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  span {
    background-color: rgb(226, 221, 221);
    color: rgb(0, 0, 0);

    margin-left: 10px;
    padding: 6px;
    border-radius: 3px;

    cursor: pointer;
  }
}
