* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-size: 16px;

  color: #fff;
}
.container {
  width: 900px;

  display: flex;
  flex-direction: column;

  position: relative;
}
.App {
  background-image: url("./assets/images_background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;

  display: flex;
  justify-content: center;

  z-index: 1;
  position: relative;
  overflow: hidden;
  justify-content: center;
  // min-height: 100vh;
}
